*.yaml linguist-detectable
*.yml linguist-detectable

/secrets/** filter=git-crypt diff=git-crypt
/newinfra/secrets-git-crypt/** filter=git-crypt diff=git-crypt
/secrets-git-crypt/** filter=git-crypt diff=git-crypt
