{
	email nilstrieb@gmail.com
}

# https://gist.github.com/ryanburnette/d13575c9ced201e73f8169d3a793c1a3
(cors) {
	@cors_preflight{args.0} method OPTIONS
	@cors{args.0} header Origin {args.0}

	handle @cors_preflight{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Credentials "false"
			Access-Control-Allow-Headers "${args.1}"
			Access-Control-Max-Age "86400"
			defer
		}
		respond "" 204
	}

	handle @cors{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Expose-Headers *
			defer
		}
	}
}

vps1.nilstrieb.dev {
	root * /var/www/html/debug
	file_server
}

uptime.nilstrieb.dev {
	reverse_proxy * localhost:5010
}

olat.nilstrieb.dev {
	reverse_proxy * localhost:5011
}

olat.nilstrieb.dev:8088 {
	reverse_proxy * localhost:5011
}
