{
	email nilstrieb@gmail.com
}

# https://gist.github.com/ryanburnette/d13575c9ced201e73f8169d3a793c1a3
(cors) {
	@cors_preflight{args.0} method OPTIONS
	@cors{args.0} header Origin {args.0}

	handle @cors_preflight{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Credentials "false"
			Access-Control-Allow-Headers "${args.1}"
			Access-Control-Max-Age "86400"
			defer
		}
		respond "" 204
	}

	handle @cors{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Expose-Headers *
			defer
		}
	}
}

vps2.nilstrieb.dev {
	root * /var/www/html/debug
	file_server
}

nilstrieb.dev {
	redir https://blog.nilstrieb.dev{uri}
}

www.nilstrieb.dev {
	redir https://blog.nilstrieb.dev{uri}
}

docker.nilstrieb.dev {
	reverse_proxy * localhost:5000
}
docker.noratrieb.dev {
	reverse_proxy * localhost:5000
}

api.hugo-chat.nilstrieb.dev {
	import cors https://hugo-chat.nilstrieb.dev "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type"
	reverse_proxy * localhost:5001
}

hugo-chat.nilstrieb.dev {
	reverse_proxy * localhost:5002
}

api.cors-school.nilstrieb.dev {
	import cors https://cors-school.nilstrieb.dev "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,token,refresh-token,Authorization"
	reverse_proxy * localhost:5003
}

cors-school.nilstrieb.dev {
	reverse_proxy * localhost:5004
}

bisect-rustc.nilstrieb.dev {
	reverse_proxy * localhost:5005
}

olat.nilstrieb.dev {
	reverse_proxy * localhost:5011
}

olat.nilstrieb.dev:8088 {
	reverse_proxy * localhost:5011
}

uptime.nilstrieb.dev {
	reverse_proxy * localhost:5010
}

noratrieb.dev {
	root * /var/www/html/nora
	file_server
}
